/* TODO: Move range logic to slider.css */

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
}

#pattern_ui {
  opacity: 1;
  --metal: linear-gradient(
    45deg,
    rgba(133, 131, 131, 0.95),
    rgba(85, 83, 83, 0.95),
    rgba(54, 53, 53, 0.95),
    rgba(128, 127, 127, 0.95),
    rgba(114, 113, 113, 0.95)
  );
  background-color: rgba(196, 194, 194, 0.6);
  background-image: var(--metal);
  border: none;
  position: fixed;
  width: 100%;
}

.ui-transition {
  transition: top 1s cubic-bezier(0.1, 0.9, 0.44, 1);
}

.menu {
  --metal-button: linear-gradient(
    45deg,
    rgba(128, 127, 127, 0.95),
    rgba(114, 113, 113, 0.95)
  );
  --menu-size: 6px;
  position: absolute;
  top: calc(var(--menu-size) * -7.5);
  right: 0;
  font-size: calc(var(--menu-size) * 4);
  padding: calc(var(--menu-size) * 1.5);
  background-color: rgba(196, 194, 194, 0.7);
  box-sizing: border-box;
  border: none;
  background-image: var(--metal-button);
  cursor: pointer;
}

.range-label {
  position: absolute;
  top: -40px;
  background: black;
  color: white;
  height: 40px;
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template: 'a b' auto / auto 1fr;
  /* justify-content: center; */
  align-items: flex-start;
  width: 100%;
  z-index: -1;
  font-family: 'MuseoModerno', cursive;
  transition: top cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
}

.range-label h2 {
  margin: 0;
  background: black;
  padding: 0 15px;
  box-sizing: border-box;
}

marquee {
  align-self: center;
}

.ranges {
  padding-top: 30px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

.range {
  padding: 0px;
  margin-bottom: 20px;
  max-width: 200px;
  width: 5%;
}

/* Scroll 2 */
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.scroll::-webkit-scrollbar-track {
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}

.ranges span {
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
  overflow: hidden;
  width: 100px;
  right: -90px;
  font-family: 'MuseoModerno';
  font-size: 10px;
  z-index: -1;
}

.buttons {
  margin: 20px auto;
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  --rel-color: 75;
  color: #bbb;
  border-radius: 10px;
  padding: 5px 10px;
  background-image: linear-gradient(
    45deg,
    rgba(
      calc(var(--rel-color) + 10),
      calc(var(--rel-color) + 10),
      calc(var(--rel-color) + 10),
      0.954
    ),
    rgba(var(--rel-color), var(--rel-color), var(--rel-color), 0.95),
    rgba(
      calc(var(--rel-color) + 15),
      calc(var(--rel-color) + 15),
      calc(var(--rel-color) + 15),
      0.95
    )
  );
  margin: 0 3px;
  border: 2px #222 solid;
  cursor: pointer;
  display: inline-block;
  font-family: 'MuseoModerno', cursive;
}

button:active {
  border-top-width: 3px;
  border-bottom-width: 1px;
}

#animation-panel {
  padding-bottom: 30px;
  text-align: center;
}

.animation-title {
  margin: 0;
  padding: 0 13px;
  width: 100%;
  font-family: 'MuseoModerno', cursive;
  font-weight: 400;
  font-size: 1rem;
}

.animation-title span {
  font-size: 0.8rem;
  border: 1px black solid;
  margin-left: 6px;
  padding: 0 5px;
  cursor: pointer;
  background-color: #666;
  font-family: arial;
}

.active-light {
  background-color: lawngreen !important;
  box-shadow: 0 0 7px 1px rgba(163, 233, 92, 0.4);
}

div#strip {
  /* width: 100%; */

  background-color: black;
  height: 40px;
  margin-bottom: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  white-space: nowrap;
}

.fit_frames {
  display: flex;
  justify-items: stretch;
  overflow: hidden !important;
}

#strip span {
  position: absolute;
  left: 10px;
  display: block;
  font-family: 'MuseoModerno';
  font-size: 10px;
}

div.frame {
  width: 20px;
  height: 40px;
  display: inline-block;
  border-right: 1px rgb(58, 58, 58) solid;
}

.hidden {
  display: none !important;
}

.no-background-image {
  background-image: none !important;
}

#patricio {
  position: absolute;
  font-family: 'MuseoModerno';
  font-size: 9px;
  bottom: 0px;
  right: 10px;
  width: 100%;
  text-align: right;
  color: #222;
}

/* SHARE DIALOG */

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #bbbbbb;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.2px;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 24px;
  border: 1px solid #ddd;
  cursor: pointer;
}

svg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.dialog-title {
  color: #bbb;
}

.share-dialog {
  font-family: 'MuseoModerno';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share-dialog {
  display: none;
  width: 95%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: -1;
  border: 10px solid #9a9a9a38;
  padding: 20px;
  border-radius: 30px;
  background-color: #282828f5;
}

.share-dialog header {
  /* color: #48e9b5; */
  font-size: 2rem;
  /* line-height: 0rem; */
}
.share-dialog .error-message {
  color: #ccc;
}

.share-dialog.is-open {
  display: block;
  z-index: 99999;
}

.share-dialog h5 {
  /* color: #0b7a56; */
  font-weight: 400;
}

.dialog-title {
  margin-bottom: 20px;
  line-height: 2.2rem;
}

.targets {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #aeaeae;
}

div.link input {
  border: none;
  background-color: #ffffff00;
  font: inherit;
  width: 80%;
  text-align: center;
}

.close-button {
  background: inherit !important;
  border: none;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}
.close-button svg {
  margin-right: 0;
  color: #bbb;
}
.close-button:hover {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .ranges {
    height: 20vh;
  }

  .range {
    max-width: 180px;
  }
}
